body {
  font-family: Verdana;
}

h1 {
  font-size: 26px;
  color: #cd8399;
}

h2 {
  font-size: 14px;
  background-color: #0d5478;
  width: 55%;
  color: #ffffff;
}

p {
  font-size: 14px;
}

img {
  width: 55%;
  height: auto;
}